*, *::before, *::after {
	margin: 0;
	padding: 0;
	
	position: relative;
	box-sizing: border-box;
	
}

html {
	background: #454545;
	overflow-x: hidden;
	overflow-y: hidden;
}

.Object {
	position: absolute;
	width: 30px;
	height: 30px;
}